tiktoken
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tqdm==4.67.1
schedulefree
transformers
wandb
datasets
zstandard
fire
git+https://github.com/EleutherAI/lm-evaluation-harness.git
matplotlib
seaborn
scipy
git+https://github.com/Dao-AILab/fast-hadamard-transform.git
